// FaceLoginService version resource (1.6.1)
#include <windows.h>
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,6,1,0
PRODUCTVERSION  1,6,1,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "FaceLogin"
            VALUE "FileDescription", "FaceLogin Face Recognition Service"
            VALUE "FileVersion", "1.6.1.0"
            VALUE "InternalName", "FaceLoginService.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "FaceLoginService.exe"
            VALUE "ProductName", "FaceLogin"
            VALUE "ProductVersion", "1.6.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
